<ion-view view-title="Home" cache-view="true" enable-menu-with-back-views="false">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button icon ion-ios-color-wand" ng-controller="utils" ng-click="go('/make-my-day')"></button>
    </ion-nav-buttons>

	<ion-content overflow-scroll="true" animation="slide-left-right">

        <h5 class="content-title padding-horizontal" style="color:#5C5C5C !important">Trending Events</h5>

        <div class="card item" ng-repeat="e in events" ng-style="{'background': getImageURL(e.image) }">

          <h5 class='title'>{{e.name}}</h5>
          <h6 class="time"><i class="ion-android-time"></i> &nbsp; For {{e.total_time}} min</h6>
          <h5 class='price'>From {{e.currency}} {{e.price}} <i class="ion-chevron-right" style="font-size: 12px"></i> </h5>

          <div ng-if="isRideAssigned">
              <div id="googleMaps" style="width:350px;height:380px;"></div>
          </div>

        </div>

	</ion-content>

</ion-view>
