<ion-view view-title="Make My Day" cache-view="true" enable-menu-with-back-views="false">
    <ion-nav-buttons side="left">
      <button ng-controller="utils" class="button icon ion-android-arrow-back" ng-controller="utils" on-tap="go('/home')"></button>
    </ion-nav-buttons>

	<ion-content overflow-scroll="true" animation="slide-left-right">

        <div class="card">
        	<h6 class="card-title">
            <center>
              Enter your Preferences
            </center>
          </h6>
            <div class="list">
                <div class="row">
                  <div class="col">
                    <label class="item item-input input-positive">
                        <span class="input-label">I like</span>
                        <input type="text" ng-model="formData.tags" class="">
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="item item-input input-positive">
                        <span class="input-label">I don't prefer</span>
                        <input type="text" ng-model="formData.ntags" class="">
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label class="item item-input input-positive">
                        <span class="input-label">From Time</span>
                        <input type="text" ng-model="formData.fromTime" class="">
                    </label>
                  </div>
                  <div class="col">
                    <label class="item item-input input-positive">
                        <span class="input-label">To Time</span>
                        <input type="text" ng-model="formData.toTime" class="">
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="item item-input input-positive">
                        <span class="input-label">My Budget</span>
                        <input type="number" ng-model="formData.budget" class="">
                    </label>
                  </div>
                </div>
                <button class="button button-block button-positive mdl-js-button mdl-js-ripple-effect" ng-click="saveFilter()">
                  Make My Day
                </button>
            </div>
        </div>

	</ion-content>

</ion-view>
