* {
  font-family: "Roboto", sans-serif; }

.mdl-layout__header {
  background: #FFF; }

main {
  margin-top: 40px; }

.demo-card-wide.mdl-card {
  width: 100%;
  height: 210px; }

.mdl-card__supporting-text {
  line-height: 20px; }

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-size: 100% !important;
  background-position-y: -60px !important; }

.demo-card-wide > .mdl-card__menu {
  color: #fff; }

#googleMaps {
  height: 500px; }
  #googleMaps ng-map {
    height: 500px; }
